<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ detail.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' detail.id %}">Edit List</a>
          <a href="{% url 'todo_list_delete' detail.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <th>Task</th>
            <th>Due Date</th>
          </thead>
          <tbody>
            {% for list in detail.items.all %}
            <tr>
              <td>
                <a href="{% url 'todo_item_update' list.id %}"
                  >{{ list.task }}</a
                >
              </td>
              <td>{{ list.due_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
