<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <p>
          <a href="{% url 'todo_list_create' %}">Create New Todo List</a>
          <a href="{% url 'todo_item_create' %}">Create New Item</a>
        </p>
        <table>
          <thead>
            <th>Name</th>
            <th>Number of items</th>
          </thead>
          <tbody>
            {% for todos in todo_list %}
            <tr>
              <td>
                <a href="{% url 'todo_list_detail' todos.id %}"
                  >{{ todos.name }}</a
                >
              </td>
              <td>{{ todos.items.count }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
